* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden; /* Hide scrollbars */
    background: rgb(142, 186, 240);
}

img {
    width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;
}